# IntelliJ IDEA
.idea/
*.iml
*.iws
/out/

# Mac
.DS_Store

# Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/
release.properties

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini

# HTTP Client
/httpRequests/

# JetBrains
/shelf/
/workspace.xml
/mavenHomeManager.xml
/dataSources/
/dataSources.local.xml

# Others
*.log
*.class
